.productImg {
    width: 20vw;
    height: 20vw;
}

.tableCell {
    text-align: center;
}

.productsTable {
    display: flex;
    justify-content: space-around;
}

#searchBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#searchInput {
    width: 10vw;
    height: 4vh;
}

#searchButton {
    width: 4vw;
    height: 4vh;
}

b {
    font-size: large;
}