body {
    font-family: Satisfy;
    color: black;
    background-color: lightpink;
    margin: 0;
}
/*--------------header---------------------------*/
#titulo{
    text-align: center;
    font-size: 60px;
    margin-top: 5px;
}

#header {
    height: 8vh;
    display: flex;
    background-color: purple;
    border-color: black;
    border-bottom: solid;
}

#searchBar {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchInput {
    width: 10vw;
    height: 4vh;
}

#searchButton {
    width: 4vw;
    height: 4vh;
}
/*---------------------------------------------*/
.productImg {
    width: 20vw;
    height: 20vw;
}

.productsTable {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
