.productImg {
    width: 20vw;
    height: 20vw;
}

.tableCell {
    text-align: center;
}

#productsTable {
    display: flex;
    justify-content: space-around;
}

#searchBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.searchInput {
    min-height: 3vh;
}